.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    width: 300px;
    margin: 10px 0;
    border-radius: 4px;
  }
  
  .todo-item.completed {
    background-color: #cfcfcf;
    text-decoration: line-through;
  }
  
  .complete-button {
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  